<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.hypeagle.bluetooth">

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <application>
        <service
            android:name="com.stylingandroid.ble.BleService"
            android:enabled="true"
            android:exported="false">
        </service>

        <activity android:name="com.stylingandroid.ble.BleActivity">
        </activity>
    </application>

</manifest>